/*Style for PopupEdit
---------------------- */

.popup-edit {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.popup-edit .mask {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.popup-edit .panel {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 10vh;
	left: 25vw;
	right: 25vw;
	padding: 20px 30px;
	min-width: 300px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 0 5px #b1b1b1;
}

.popup-edit .field {
	display: flex;
	flex-direction: column;
	margin: 8px 0;
}

.popup-edit .btn-group {
	flex-direction: row;
	justify-content: center;
}

.popup-edit label {
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}

.popup-edit .warning {
	color: #f22613;
	margin-left: 20px;
	font-weight: normal;
}

.popup-edit input {
	border: none;
	border-bottom: 2px solid #b1b1b1;
	outline: none;
	background: none;
	color: #202020;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	transition: .2s;
}

.popup-edit input:focus {
	border-bottom: 2px solid #202020;
}

.popup-edit textarea {
	max-width: 100%;
	border: 2px solid #b1b1b1;
	outline: none;
	color: #202020;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	transition: .2s;
}

.popup-edit textarea:focus {
	border: 2px solid #202020;
}

.popup-edit .btn-save {
	display: flex;
	justify-content: center;
	flex: 1 1 0%;
	width: 100px;
	min-height: 25px;
	padding: 3px 5px;
	border: none;
	border-radius: 5px 0 0px 5px;
	outline: none;
	background-color: #1e824c;
	color: white;
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	transition: .2s;
}

.popup-edit .btn-save-whole {
	border-radius: 5px;
}

.popup-edit .btn-save:hover {
	background-color: #4a9b6f;
}

.popup-edit .btn-delete {
	display: flex;
	justify-content: center;
	flex: 1 1 0%;
	width: 100px;
	min-height: 25px;
	padding: 3px 5px;
	border: none;
	border-radius: 0 5px 5px 0;
	outline: none;
	background-color: #797979;
	color: white;
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	transition: .2s;
}

.popup-edit .btn-delete:hover {
	background-color: #b1b1b1;
}

/* date-form
-------------  */

.popup-edit .date-form {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.popup-edit .date-connector {
	margin: 0 15px;
}


/* Toggle button
------------------ */

.toggle-btn {
	margin-top: 5px;
}

#publicity-btn {
	display: none;
}

.toggle-btn label {
	position: relative;
	display: inline-block;
	width: 68px;
	height: 18px;
	margin: 0;
	background-color: #2574a9;
	box-shadow: 0 0 0 2px #b1b1b1;
	border-radius: 18px;
	overflow: hidden;
	cursor: pointer;
}

.circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: white;
}

.btn-label .text {
	line-height: 15px;
	font-size: 12px;
	font-weight: normal;
}

.on {
	color: white;
	display: none;
	text-indent: 10px;
}

.off {
	color: white;
	display: inline-block;
	text-indent: 20px;
}

.btn-label .circle {
	left: 0;
	transition: .3s;
}

#publicity-btn:checked + .btn-label .circle {
	left: 50px;
}

#publicity-btn:checked + .btn-label .on {
	display: inline-block;
}

#publicity-btn:checked + .btn-label .off {
	display: none;
}

#publicity-btn:checked + .btn-label {
	background-color: #e87e04;
}